[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.97.0"
uvicorn = "==0.22.0"
redis = "==4.5.5"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
